Package: fdenavi
Version: 1.0
Architecture: arm64
Maintainer: warlice <openfde@openfde.com>
Installed-Size: 18041
Depends: libc6 (>= 2.29), libdouble-conversion3 (>= 2.0.0), libgcc-s1 (>= 3.0), libgl1, libglib2.0-0 (>= 2.22.0), libharfbuzz0b (>= 1.6.0), libicu66 (>= 66.1-1~), libpcre2-16-0 (>= 10.22), libpng16-16 (>= 1.6.2-1), libqt5core5a (>= 5.12.2), libqt5gui5 (>= 5.12.5) | libqt5gui5-gles (>= 5.12.5), libqt5widgets5 (>= 5.2.0), libstdc++6 (>= 5), qtbase-abi-5-12-8, zlib1g (>= 1:1.1.4), wmctrl
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
